<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TWG5000.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://www.tobikcze.eu/libs/joypixels/assets/9.0/sprites/joypixels-sprite-24.min.css">
    <HeadOutlet />
</head>

<!--<body style="background-color: #ba9679; background-image: url('gfx/corkboard4x.png'); background-repeat: repeat; background-size: 240px;">-->
<body style="">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
